<section class="admin2-contenedor-titulo">
    <div>
        <h2>Negocios</h2>
        <label>{{msge}}</label>
        <button id="negocioAdd" class="btn animacion"><span>&#10010; Nuevo Negocio</span></button>
    </div>
</section>

<section class="admin2-mantenedor">
    <table>
        <tr>
            <th>id</th>
            <th hidden>img</th>
            <th>Negocio</th>
            <th>rut</th>
            <th>Dirección</th>
            <th>Descripción</th>
            <th>Activo</th>
            <th></th>
        </tr>
        {{#each negocios}}
        <tr id="filaNegocio_{{id}}">   
            <td>{{id}}</td>
            <td hidden>{{logo}}</td>
            <td>{{nombre}}</td>
            <td>{{rut}}</td>
            <td>{{direccion}}</td>
            <td>{{descripcion}}</td>
            <td>{{is_active}}</td>
            <td id={{id}} class="admin2-mantenedor-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
        </tr>
        {{/each}}
    </table>
</section>

{{!-- modal para crear nuevo negocio --}}
<div id="negocioModalCrear" class="admin2-modal">
    <div><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>

    <h2>Nuevo Negocio</h2>

    <section class="admin2-modal-contenedor">
        <img id="negocioImgVisible" src="">
        <form id="negocioFormCrear" action="/admin/negocios/post" method="POST">
            <label>Nombre del Negocio</label>
            <input type="text" name="nombre" id="nombre" placeholder="Kartax">
            <br>
            <label>Rut del Negocio</label>
            <input type="text" name="rut" id="rut" placeholder="00.000.000-0">
            <br>
            <label>Dirección</label>
            <input type="text" name="direccion" id="direccion" placeholder="Viña del Mar...">
            <br>
            <label>Descripción</label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Demo">
            <br>       
            <label>Logo</label>
            <input id="imgNegocio" type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg">
            <br> 
            <label>Activo: <input type="checkbox" name="check" id="check"></label>
            <div><hr></div>
            <button class="btn animacion"><span id="negocioBtnMod">Guardar</span></button>
        </form>
    </section>
</div>

{{!-- modal para modificar negocio --}}
<div id="negocioModalModificar" class="admin2-modal">
    <div><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>

    <h2>Modificar Negocio</h2>

    <section class="admin2-modal-contenedor">
        <img id="negocioImgVisible" src="">
        <form id="negocioFormModificar" action="/admin/negocios/put" method="POST">
            <label>ID</label>
            <input type="text" name="id" id="id" readonly>
            <br>
            <label>Nombre del Negocio</label>
            <input type="text" name="nombre" id="nombre" placeholder="Kartax">
            <br>
            <label>Rut del Negocio</label>
            <input type="text" name="rut" id="rut" placeholder="00.000.000-0">
            <br>
            <label>Dirección</label>
            <input type="text" name="direccion" id="direccion" placeholder="Viña del Mar...">
            <br>
            <label>Descripción</label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Demo">
            <br>       
            <label>Logo</label>
            <input id="imgNegocio" type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg">
            <br> 
            <label>Activo: <input type="checkbox" name="check" id="check"></label>
            <div><hr></div>
            <button class="btn animacion"><span id="negocioBtnMod">Modificar</span></button>
        </form>
    </section>
</div>

<script>
    // visualiza el modal par aun nuevo negocios
    const negocioAdd = document.querySelector("#negocioAdd");
    negocioAdd.addEventListener("click", () => {
        const admin2ModalContenedor = document.querySelectorAll("#negocioFormCrear input");
        const img = document.querySelector("#negocioImgVisible");

        admin2ModalContenedor[0].value = "";
        admin2ModalContenedor[1].value = "";
        admin2ModalContenedor[2].value = "";
        admin2ModalContenedor[3].value = "";
        img.src = "";
        admin2ModalContenedor[5].checked = false;

        const admin2Modal = document.querySelector("#negocioModalCrear");
        admin2Modal.classList.add("admin2-modal_visible");
    });

    // visualiza el modal par modificacion del negocios
    const editNegocio = document.querySelector(".admin2-mantenedor-btn");
    editNegocio.addEventListener("click", () => {
        const fila = document.querySelector(`#filaNegocio_${editNegocio.id}`).children;
        const admin2ModalContenedor = document.querySelectorAll("#negocioFormModificar input");
        const img = document.querySelector("#negocioImgVisible");

        admin2ModalContenedor[0].value = fila[0].textContent;
        admin2ModalContenedor[1].value = fila[2].textContent;
        admin2ModalContenedor[2].value = fila[3].textContent;
        admin2ModalContenedor[3].value = fila[4].textContent;
        admin2ModalContenedor[4].value = fila[5].textContent;
        img.src = fila[1].textContent;
        admin2ModalContenedor[6].checked = true;

        const admin2Modal = document.querySelector("#negocioModalModificar");
        admin2Modal.classList.add("admin2-modal_visible");
    });

    // cierra el modal para crear negocio
    const negocioModalCrear = document.querySelector("#negocioModalCrear > div");
    negocioModalCrear.addEventListener("click", () => {
        const carrarModal = document.querySelector("#negocioModalCrear");
        carrarModal.classList.remove("admin2-modal_visible");
    });

    // cierra el modal para modificar negocio
    const negocioModalModificar = document.querySelector("#negocioModalModificar > div");
    negocioModalModificar.addEventListener("click", () => {
        const carrarModal = document.querySelector("#negocioModalModificar");
        carrarModal.classList.remove("admin2-modal_visible");
    });

    // carga la imagen a previsualizacion 
    const imgNegocio = document.querySelector("#imgNegocio");
    imgNegocio.addEventListener("change", () => {
        const archivo = imgNegocio.files[0];
        
        const negocioImgVisible = document.querySelector("#negocioImgVisible");
        negocioImgVisible.file = archivo;

        const reader = new FileReader();
        reader.onload = (e) => {
            negocioImgVisible.src = e.target.result;
        };
        
        reader.readAsDataURL(archivo);
        console.dir(imgNegocio.files[0])
    });
</script>
