<section class="admin2-contenedor-titulo">
    <div>
        <h2>Usuarios</h2>
        <button id="addUsuario" class="btn animacion"><span>&#10010; Nuevo Usuario</span></button>
    </div>
</section>

<section class="admin2-mantenedor">
    <table>
        <tr>
            <th>id</th>
            <th>Usuario</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Fecha</th>
            <th></th>
        </tr>
        {{#each usuarios}}
        <tr>   
            <td>{{id}}</td>
            <td>{{usuario}}</td>
            <td>{{nombres}}</td>
            <td>{{apellidos}}</td>
            <td>{{correo}}</td>
            <td>{{is_active}}</td>
            <td>{{rol}}</td>
            <td>{{fecha}}</td>
            <td id={{id}} class="admin2-mantenedor-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
        </tr>
        {{/each}}
    </table>
</section>

{{!-- modal para crear nuevo negocio --}}
<div id="modalCrear" class="admin2-modal">
    <div><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>
    <h2>Nuevo Negocio</h2>
    <section class="admin2-modal-contenedor">
        <form id="modalFormCrear" action="/admin/usuarios" method="POST">
            <input type="text" name="nombres" id="nombres" placeholder="Nombres.." onkeyup="this.value = this.value.toUpperCase();">
            <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos..." onkeyup="this.value = this.value.toUpperCase();">
            <input type="email" name="correo" id="correo" placeholder="Correo..." onkeyup="this.value = this.value.toUpperCase();">
            <input type="text" name="usuario" id="usuario" placeholder="Usuario..." onkeyup="this.value = this.value.toUpperCase();">    
            <label>Activo: <input type="checkbox" name="check" id="check"></label>
            <div><hr></div>
            <button name="btnModal" id="btnModal" onclick="this.value='crear'" class="btn animacion"><span>Guardar</span></button>
        </form>
    </section>
</div>

{{!-- modal para modificar negocio --}}
<div id="modalModificar" class="admin2-modal">
    <div><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>
    <h2>Modificar Negocio</h2>
    <section class="admin2-modal-contenedor">
        <form id="modalFormModificar" action="/admin/usuarios?_method=PUT" method="POST">
            <input type="text" name="id" id="id" readonly>
            <input type="text" name="nombres" id="nombres" placeholder="Nombres..." onkeyup="this.value = this.value.toUpperCase();">
            <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos..." onkeyup="this.value = this.value.toUpperCase();">
            <input type="email" name="correo" id="correo" placeholder="Correo..." onkeyup="this.value = this.value.toUpperCase();">
            <input type="text" name="usuario" id="usuario" placeholder="Usuario..." onkeyup="this.value = this.value.toUpperCase();">    
            <label>Activo: <input type="checkbox" name="check" id="check"></label>
            <div><hr></div>
            <button name="btnModal" id="btnModal" class="btn animacion"><span>Modificar</span></button>
        </form>
    </section>
</div>

<script>
     // visualiza el modal par aun nuevo negocios
    const addNegocio = document.querySelector("#addUsuario");
    addNegocio.addEventListener("click", () => {
        const admin2ModalContenedor = document.querySelectorAll("#modalFormCrear input");

        admin2ModalContenedor[0].value = "";
        admin2ModalContenedor[1].value = "";
        admin2ModalContenedor[2].value = "";
        admin2ModalContenedor[3].value = "";
        admin2ModalContenedor[4].checked = false;

        const modalCrear = document.querySelector("#modalCrear");
        modalCrear.classList.add("admin2-modal_visible");
    });

    // visualiza el modal par modificacion del negocios
    const editNegocio = document.querySelectorAll(".admin2-mantenedor-btn");

    editNegocio.forEach(e => {
        e.addEventListener("click", () => {
            const fila = document.querySelector(`#filaNegocio_${e.id}`).children;
            const admin2ModalContenedor = document.querySelectorAll("#modalFormModificar input");

            admin2ModalContenedor[0].value = fila[0].textContent;
            admin2ModalContenedor[1].value = fila[2].textContent;
            admin2ModalContenedor[2].value = fila[3].textContent;
            admin2ModalContenedor[3].value = fila[4].textContent;
            admin2ModalContenedor[4].value = fila[5].textContent;
            admin2ModalContenedor[5].checked = true;

            const modalModificar = document.querySelector("#modalModificar");
            modalModificar.classList.add("admin2-modal_visible");
        });
    });
    
    // cierra el modal para crear negocio
    const cerrarModalCrear = document.querySelector("#modalCrear > div");
    cerrarModalCrear.addEventListener("click", () => {
        cerrarModal();
    });

    // cierra el modal para modificar negocio
    const cerrarModalModificar = document.querySelector("#modalModificar > div");
    cerrarModalModificar.addEventListener("click", () => {
        cerrarModal();
    });

    // carga el componente loadong
    const modalLoading = document.querySelectorAll("#btnModal");
    modalLoading.forEach(e => {
        e.addEventListener("click", () => {
            renderLoading2.classList.add("loading-contenedor2_visible");
            cerrarModal();
        });
    });

    function cerrarModal() {
        const modalCrear = document.querySelector("#modalCrear");
        modalCrear.classList.remove("admin2-modal_visible");

        const modalModificar = document.querySelector("#modalModificar");
        modalModificar.classList.remove("admin2-modal_visible");
    };
</script>