<section class="admin2-contenedor-titulo">
    <div>
        <h2>Usuarios</h2>
        <button id="#addUsuario" class="btn animacion"><span>&#10010; Nuevo Usuario</span></button>
    </div>
</section>

<section class="admin2-mantenedor">
    <table>
        <tr>
            <th>id</th>
            <th>Usuario</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>fecha</th>
            <th></th>
        </tr>
        {{#each usuarios}}
        <tr>   
            <td>{{id}}</td>
            <td>{{usuario}}</td>
            <td>{{nombres}}</td>
            <td>{{apellidos}}</td>
            <td>{{correo}}</td>
            <td>{{is_active}}</td>
            <td>{{rol}}</td>
            <td>{{fecha}}</td>
            <td class="admin2-mantenedor-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
        </tr>
        {{/each}}
    </table>
</section>

<div class="admin2-modal">
    <div><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>

    <h2>Nuevo Usuario</h2>

    <section class="admin2-modal-contenedor">
        <img id="imgNegocioVisible" src="">
        <form action="/admin/negocios" method="post">
            <label>ID</label>
            <input type="text" name="id" id="id" readonly>
            <br>
            <label>Nombre del Negocio</label>
            <input type="text" name="nombre" id="nombre" placeholder="Kartax">
            <br>
            <label>Rut del Negocio</label>
            <input type="text" name="rut" id="rut" placeholder="00.000.000-0">
            <br>
            <label>Dirección</label>
            <input type="text" name="direccion" id="direccion" placeholder="Viña del Mar...">
            <br>
            <label>Descripción</label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Demo">
            <br>       
            <label>Logo</label>
            <input id="imgNegocio" type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg">
            <br> 
            <label>Activo: <input type="checkbox" name="check" id="check"></label>
            <div><hr></div>
            <button class="btn animacion"><span></span></button>
        </form>
    </section>
</div>

<script>
   
</script>