<section class="admin2-contenedor-titulo">
    <div>
        <h2>Negocios</h2>
        <button class="btn animacion"><span>&#10010; Nuevo Negocio</span></button>
    </div>
</section>


<section class="admin2-mantenedor">
    <table>
        <tr>
            <th>id</th>
            <th hidden>img</th>
            <th>Negocio</th>
            <th>Dirección</th>
            <th>Descripción</th>
            <th>Activo</th>
            <th></th>
        </tr>
        {{#each negocios}}
        <tr>   
            <td>{{id}}</td>
            <td hidden><img src={{logo}}></td>
            <td>{{nombre}}</td>
            <td>{{direccion}}</td>
            <td>{{descripcion}}</td>
            <td>{{is_active}}</td>
            <td class="admin2-mantenedor-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
        </tr>
        {{/each}}
    </table>
</section>

<div class="admin2-modal">
    {{!-- <img src="/img/menu/tiempo.svg"> --}}
    <span class="close">&times;</span>
</div>

<script>
    const addNegocio =  document.querySelector(".admin2-contenedor-titulo button");
    addNegocio.addEventListener("click", () => {
        
    });
</script>

{{!-- 
{{#each negocios}}
<section class="adminNegocio-frm">
    <img src={{logo}} alt="">
    <form>
        <span>id: <label>{{id}}</label></span>
        <br>
        <label>Nombre del Negocio</label>
        <input value={{nombre}} type="text" name="nombre" id="nombre" readonly>
        <br>
        <label>Rut del Negocio</label>
        <input value={{rut}} type="text" name="rut" id="rut" readonly>
        <br>
        <label>Dirección</label>
        <input value={{direccion}} type="text" name="direccion" id="direccion" readonly>
        <br>
        <label>Descripción</label>
        <input value={{descripcion}} type="text" name="descripcion" id="descripcion" readonly>
        <br>
        <label>Activo: <input type="checkbox" name="check" id="check" {{#if is_active}} checked {{/if}} disabled></label>
        <div><hr></div>
        <button class="btn animacion"><span>Entrar a la Caja</span></button>
    </form>
</section>
{{/each}}

<section class="adminNegocio-frm">
    <img src="" alt="">
    <form>
        <label>Nombre del Negocio</label>
        <input type="text" name="nombre" id="nombre" placeholder="Kartax">
        <br>
        <label>Rut del Negocio</label>
        <input type="text" name="rut" id="rut" placeholder="00.000.000-0">
        <br>
        <label>Dirección</label>
        <input type="text" name="direccion" id="direccion" placeholder="Viña del Mar...">
        <br>
        <label>Descripción</label>
        <input type="text" name="descripcion" id="descripcion" placeholder="Demo">
        <br>       
        <label>Logo</label>
        <input type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg">
        <br> 
        <label>Activo: <input type="checkbox" name="check" id="check"></label>
        <div><hr></div>
        <button class="btn animacion"><span>Guardar</span></button>
    </form>
</section> --}}

